*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*~
*.swp
.gradle
.gradletasknamecache
.m2
!gradle-wrapper.jar
target/
build/
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
bin/
.nbattrs
/.nb-gradle/profiles/private/
.nb-gradle-properties
*.cache
/.nb-gradle/private/
.pmd
.ruleset
